body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.wrap-container {
  margin: 0 auto;
  text-align: center;
  padding: 0 10px 30px 10px;
}

.search-form {
  display: flex;
  padding: 20px 100px;
  margin-bottom: 30px;
  background: #12c2e9;
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  );
}

.load-more.btn-is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.photo-cards-wrapper {
  flex-basis: calc((100% / 5) - 10px);
  margin-left: 10px;
  margin-top: 10px;

  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.large-photo-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.large-photo-link:hover,
.large-photo-link:focus {
  color: #212121;
}

.thumb {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.thumb img {
  height: 100%;
  width: 100%;
  display: block;

  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;

  text-align: center;

  padding: 10px 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.load-more {
}
